.hero-bg {
  background-image: url('img/fondo.avif'); /* Cambia esta URL por una imagen de fondo temática */
  background-size: cover;
  background-position: center;
}
.highlight {
  color: #d63384;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.navbar, .footer {
  background-color: #f1608c;
  padding: 20px 0;
}

img {
border-radius: 50%; /* Hace que el logo tenga forma circular */
}

.instagram-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to bottom right, #f58529, #d62976, #8a3ab9, #fd1d1d); /* Colores de Instagram */
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px; /* Forma ovalada */
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.instagram-button:hover {
  background: linear-gradient(to bottom right, #fd1d1d, #8a3ab9, #d62976, #f58529); /* Colores invertidos en hover */
}
