.hero-bg {
  background-image: url('img/fondo.avif'); /* Cambia esta URL por una imagen de fondo temática */
  background-size: cover;
  background-position: center;
}
.highlight {
  color: #d63384;
  background-color: #ffe5f0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.navbar, .footer {
  background-color: #f06b93;
  padding: 20px 0;
}

img {
border-radius: 50%; /* Hace que el logo tenga forma circular */
}

